<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand d-flex align-items-center">
      <img src="https://static.vecteezy.com/system/resources/previews/013/699/433/non_2x/letter-rr-real-estate-property-and-construction-minimal-logo-design-template-vector.jpg" alt="Logo" class="logo" /> <!-- Website logo -->
      <span class="app-title">REEL TO REAL</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link btn btn-light" routerLink="/">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-light" routerLink="/view-site">VIEW SITE</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link btn btn-light" routerLink="/search-site">SEARCH SITE</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-light" routerLink="/add-site">ADD SITE</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-light" routerLink="/about-us">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light" routerLink="/login-admin">LOGIN AS ADMIN  sdf</a>
        </li>
          
      </ul>
  </div>
</nav>
